In [10]:
import pandas as pd
import numpy as np

In [38]:
#Problem 1

my_array = np.array([14,12,11,10,8,6,8])
df = pd.DataFrame(my_array,
columns =['Age'],
index =['Greg','Marcia','Peter','Jan','Bobby','Cindy','Oliver'])
df

        Age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     6
Oliver    8

In [25]:
np.mean(df['age'])

9.857142857142858

In [19]:
np.median(df['age'])

10.0

In [20]:
import statistics
statistics.mode(df['age'])

8

In [21]:
df['age'].var()

7.476190476190475

In [22]:
np.std(df['age'], ddof=1)

2.734262327610589

In [23]:
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

1.0334540197243192

In [26]:
#Problem 2
# Central Limit Tendency estimate: Mean. It shows the average age of the group,
#whereas median will only sho the child in the middle, 
#and mode will not define the number of kids. 

#Variance Estimate: Standard Deviation. It shows the age difference from the mean.

In [41]:
#Problem 3

        Age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     6
Oliver    8

In [47]:
my_array = np.array([14,12,11,10,8,7,8])
df2 = pd.DataFrame(my_array,
columns =['Age'],
index =['Greg','Marcia','Peter','Jan','Bobby','Cindy','Oliver'])
df2
#Would like to learn how to update list.
#Since my array is not in index, I dont know how to update age via code.

        Age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     7
Oliver    8

In [48]:
np.mean(df2['Age'])

10.0

In [50]:
np.median(df2['Age'])

10.0

In [51]:
import statistics
statistics.mode(df2['Age'])

8

In [52]:
df['Age'].var()

6.333333333333333

In [53]:
np.std(df['Age'], ddof=1)

2.516611478423583

In [73]:
np.std(df['Age'] ,ddof=1) / np.sqrt(len(df['Age']))

1.0334540197243192

In [88]:
names= ['Greg',
        'Marcia',
        'Peter',
        'Jan',
        'Bobby',
        'Cindy',
        'Oliver']
        
Ages= pd.DataFrame(index=names)        
        
Ages['Age1']=[14,12,11,10,8,6,8]
Ages['Age2']=[14,12,11,10,8,7,8]
        
Ages.describe()

            Age1       Age2
count   7.000000   7.000000
mean    9.857143  10.000000
std     2.734262   2.516611
min     6.000000   7.000000
25%     8.000000   8.000000
50%    10.000000  10.000000
75%    11.500000  11.500000
max    14.000000  14.000000

In [89]:
#Mean, std, min changed.

In [90]:
#Problem 4
names= ['Greg',
        'Marcia',
        'Peter',
        'Jan',
        'Bobby',
        'Cindy',
        'Jessica']
        
Ages= pd.DataFrame(index=names)        
        
Ages['Age1']=[14,12,11,10,8,6,1]
Ages['Age2']=[14,12,11,10,8,7,1]
        
Ages.describe()

            Age1       Age2
count   7.000000   7.000000
mean    8.857143   9.000000
std     4.336995   4.242641
min     1.000000   1.000000
25%     7.000000   7.500000
50%    10.000000  10.000000
75%    11.500000  11.500000
max    14.000000  14.000000

In [96]:
Ages['Age1'].var()

18.80952380952381

In [97]:
Ages['Age2'].var()

18.0

In [98]:
#I would not rely on mean,
#as it does not accurately repesent ages.
#Would choose variance, as it is high.

In [108]:
#Problem 5
magazines= ['TV Guide',
           'Entertainment Weekly',
            'Pop Culture Today',
            'SciPhi Phanatic']
            
Percentage= pd.DataFrame(index=magazines)
Percentage['percent']=[0.2,0.23,0.17,0.05]

In [107]:
Percentage.describe()

        percent
count  4.000000
mean   0.162500
std    0.078899
min    0.050000
25%    0.140000
50%    0.185000
75%    0.207500
max    0.230000

In [ ]:
# 16.5% are fans.